body{
    background-color: aliceblue;
}


.productImages{
    display: flex;
    gap: 30px;
}

.productImagesColumn{
    height: 500px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.productImage{
    background-color: black;
    height: 70px;
    width: 50px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}

.productSelectedImage{
    background-color: black;
    height: 700px;
    width: 500px;
    border-radius: 10px;
    cursor: pointer;
}

.productRatingsBox{
    display: flex;
    gap: 30px;
    position: relative;
    padding-bottom: 10px;
}

.productRatingsBox::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    border-bottom: 1px solid #000;
    margin-top: 10px; 
}


.productRatingsCount > a{
    text-decoration: none;
}

.productInfo{
    display: flex;
    gap: 100px;
    padding: 10px;
}

.productDescription{
    padding: 10px;
    max-width: 600px;
}

.productPrice{
    display: flex;
    gap: 30px;
    margin: 10px 0px;
}

.productTitle{
    font-size: 35px;
    margin: 10px 0px;
    padding: 10px 0px;
    max-width: 500px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.productPrices{
    position: relative;
}

.productPriceDiscountPercent{
    color: rgb(237, 62, 62);
    font-size: 30px;
}

.productCurrentPrice{
    font-size: 30px;
}

.productMRP{
    font-size: 15px;
    color: rgb(116, 116, 116);
    margin-bottom: 10px;
}

.productOriginalPrice{
    text-decoration: line-through;
}

.productTaxInclusive{
    margin-top: 10px;
    position: relative;
    padding-bottom: 10px;
}

.productPrices::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    border-bottom: 1px solid #000;
    margin-top: 10px; 
}

.productAvailableSize{
    margin-top: 10px;
    position: relative;
    padding-bottom: 10px;
}

.sizeTitle{
    font-size: 20px;
    position: relative;
}

.sizeDropdown{
    font-size: 15px;
    position: relative;
}

.productAvailableSize::after{
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    border-bottom: 1px solid #000;
    margin-top: 10px;
}