<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="newsletterForm.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">    
</head>

<body class="bg-blue-100 flex justify-center items-center h-screen font-mulish">
    <div class="subscribe bg-white flex flex-col items-center justify-center p-10 rounded-2xl ">
        <h2 class="font-bold text-3xl mb-4">Let's keep in touch</h2>
        <p class="max-w-450 text-center mb-12 leading-6">Subscribe to keep up with fresh news and exciting updates!!</p>
        <form method="POST" class="mb-4">
            <input type="email" class="p-3 border border-gray-600 h-14 rounded-md w-80 text-md text-gray-900 focus:outline-black-900" placeholder="Enter your email address" />
            <button class="bg-blue-600 p-2 border-none w-30 h-14 rounded-md text-white text-lg shadow-md form__button">Subscribe</button>
        </form>
        <div class="w-345">
            <input type="checkbox">
            <span>I agree to my email address being stored and uses to recieve monthly newsletter.</span>
        </div>
    </div>
</body>
</html>